<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Contact</th>
        <th>Volunteer position</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @volunteer_position_contacts.each do |volunteer_position_contact| %>
      <tr>
        <td><%= "#{volunteer_position_contact.first_name} #{volunteer_position_contact.last_name}" %></td>
        <td><%= volunteer_position_contact.name %></td>
        <td><%= link_to 'Edit', edit_volunteer_position_contact_path(volunteer_position_contact) %></td>
        <td><%= link_to 'Destroy', volunteer_position_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to new_volunteer_position_contact_path, :class => 'btn btn-primary' do %>
<span class="fa fa-plus"></span>
New contact
<% end %>
