<h2>About Jazzify</h2>
<div class="row">
  <div class="col-md-6">
    <blockquote>
      I created the Ottawa Jazzify web application to modernize
      the volunteer application process at the Ottawa Jazz Festival.<br/>
      This project is made up of 100% volunteer work and does not
      cost the Festival a penny to operate.
      <footer>Sean Floyd</footer>
    </blockquote>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Links</h3>
      </div>
      <div class="panel-body">
        <p>
          <%= link_to "Frequently Asked Questions", faq_path, target: "_BLANK" %>
        </p>
        <p>
          <a href="http://ottawajazzfestival.com" target="_BLANK">Official Ottawa Jazz Festival website</a>
        </p>
        <p>
          <a href="http://ottawajazzfestival.com/faqs" target="_BLANK">Official Ottawa Jazz Festival FAQs</a>
        </p>
        <p>
          <%= link_to "Volunteer Code Of Conduct", codeofconduct_path, target: "_BLANK" %>.
        </p>
        <p>
          <a href="http://smartserve.ca/online-training-guidelines" target="_BLANK">Smart Serve Training</a>
        </p>
        <p>
          <a href="http://ottawa.ca/en/city-hall/get-know-your-city/volunteering/accessibility-training" target="_BLANK">
            Accessibility Training
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div id="carousel-example-generic" class="carousel slide about-carousel-max-size center-block" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "Volunteers-2015_BrianGoldschmied-1024x575.jpg", class: "img-reponsive" %>
          <div class="carousel-caption">
            Photo by Brian Goldschmied
          </div>
        </div>
        <div class="item">
          <%= image_tag "Unknown.jpg", class: "img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "Unknown-2.jpg", class: "img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "Unknown-3.jpg", class: "img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "Unknown-4.jpg", class: "img-responsive" %>
        </div>
        <div class="item">
          <%= image_tag "Unknown-5.jpg", class: "img-responsive" %>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <p>
      Created, designed and maintained by
      <a href="http://seanlf.github.io/web/" target="_BLANK">Sean Floyd</a> for the Ottawa Jazz Festival.
    </p>
    <p>Special thanks to Wendy Bardach, Casey Li, and Julian Nadeau.</p>
    <p>
      Proudly built with <a href="http://rubyonrails.org/" target="_BLANK">Ruby on Rails</a>.
    </p>
  </div>
</div>
