<div class="jumbotron">
  <h1>Welcome to Jazzify!</h1>
  <p>Apply to volunteer at the Ottawa Jazz Festival.</p>
  <p class="home-buttons">
    <a class="btn btn-info" href="/about" role="button">Learn more</a>
    <%= link_to "Privacy Policy", privacypolicy_path, :class => 'btn btn-warning' %>
    <% if user_signed_in? %>
      <%= link_to "Positions", volunteer_positions_path, role: "button", class: "btn btn-primary" %>
      <%= link_to "Apply", new_user_application_path, role: "button", class: "btn btn-success" %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success'  %>
      <%= link_to "Sign in", new_user_session_path, :class => 'btn btn-primary'  %>
    <% end %>
    </p>
</div>
