<h1>Volunteer Applications</h1>
<% if @user_applications.nil? or @count == 0 %>

  <h3>No one has applied yet. <i class="fa fa-frown-o">&nbsp;</i></h3>

<% else %>
  <% if @user.is_elevated? %>
    <% if @user.is_admin? %>
      <%= link_to "Export all", reports_export_user_applications_path, class: "btn btn-default" %>
      <a href="#" data-toggle="modal" data-target="#export_user_applications_for_position" class="btn btn-default">
        Export for specific position
      </a>
      <%= render 'reports/export_applications' %>
    <% elsif @vp %>
      <%= form_tag(reports_export_user_applications_path) do |f| %>
        <select name="volunteer_position[id]" id="volunteer_position_id" class="hidden"><option value="<%= @vp %>"></option></select>
        <%= submit_tag("Export", class: 'btn btn-default') %>
      <% end %>
    <% end %>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>First choice</th>
          <th>Second choice</th>
          <th>Third choice</th>
          <th>Status</th>
          <th>Last Updated</th>
          <th></th>
          <% if current_user.is_admin? %>
          <th></th>
          <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>

        <%= content_tag_for(:tr, @user_applications) do |user_application| %>
          <td><%= user_application.name %></td>
          <td><%= user_application.first_choice %></td>
          <td><%= user_application.second_choice %></td>
          <td><%= user_application.third_choice %></td>
          <td><%= user_application.status %></td>
          <td><%= user_application.updated_at %></td>
          <td><%= link_to 'Review', "/user_applications/#{user_application.id}/view" %></td>
          <% if current_user.is_admin? %>
          <td><%= link_to "Edit", edit_user_application_path(user_application) %></td>
          <td><%= link_to 'Delete', user_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>

        <% end %>

      </tbody>
    </table>
  </div>
  <%= will_paginate @user_applications, renderer: BootstrapPagination::Rails %>

<% end %>
