<% if @user.is_elevated? %>
  <h1>All user applications</h1>
<% else %>
  <h1>My applications</h1>
<% end %>
<% if @user_applications.nil? or @user_applications.count == 0 %>
  <% if @user.is_admin? or @user.is_moderator? %>
    <h3>No one has applied to any positions yet.</h3>
  <% else %>
    <h3>You haven't applied to any positions yet.</h3>
    <%= link_to "Apply", volunteer_positions_path, :class => 'btn btn-primary' %>
  <% end %>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
        <% if @user.is_elevated? %>
          <th>User</th>
        <% end %>
          <th>Volunteer position</th>
          <th>Status</th>
          <th>Last Updated</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @user_applications) do |user_application| %>
        <% if @user.is_elevated? %>
        <td><%= user_application.user.email %></td>
        <% end %>
        <td><%= user_application.volunteer_position.title %></td>
        <td><%= user_application.user_application_status.status %></td>
        <td><%= user_application.updated_at %></td>
        <td><%= link_to 'Show', user_application %></td>
        <td><%= link_to 'Edit', edit_user_application_path(user_application) %></td>
        <td><%= link_to 'Delete', user_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>