<div class="container">
  <div class="row">
    <div class="col-sm-3 application-div">
      <h3>Contact Information</h3>
      <div class="form-group">
        <label class="control-label">Name</label>
        <p class="well well-sm" name="user_information[Name]">
          <%= "#{@user_information.first_name} #{@user_information.last_name}" %>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label">City</label>
        <p class="well well-sm" name="user_information[City]">
          <%= @user_information.city %>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label">Province</label>
        <p class="well well-sm" name="user_information[Province]">
          <%= @user_information.province %>
        </p>
      </div>
      <% if @user_information.home_phone_number %>
      <div class="form-group">
        <label class="control-label">Home phone number</label>
        <p class="well well-sm" name="user_information[Home phone number]">
          <%= @user_information.home_phone_number %>
        </p>
      </div>
      <% end %>
      <% if @user_information.work_phone_number %>
      <div class="form-group">
        <label class="control-label">Work phone number</label>
        <p class="well well-sm" name="user_information[Work phone number]">
          <%= @user_information.work_phone_number %>
        </p>
      </div>
      <% end %>
      <% if @user_information.cell_phone_number %>
      <div class="form-group">
        <label class="control-label">Cell phone number</label>
        <p class="well well-sm" name="user_information[Cell phone number]">
          <%= @user_information.cell_phone_number %>
        </p>
      </div>
      <% end %>
      <div class="form-group">
        <label class="control-label">Email</label>
        <p class="well well-sm" name="user[Email]">
          <%= @user_information.user.email %>
        </p>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-1 application-div">
      <h3>Jazz specific Information</h3>
      <div class="form-group">
        <label class="control-label">Age group</label>
        <p class="well well-sm" name="user_information[Age group]">
          <%= @user_information.age_group %>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label">Notes</label>
        <p class="well well-sm" name="user_information[Notes]">
          <%= @user_information.notes %>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label">Availability</label>
        <p class="well well-sm" name="user_information[Availability]">
          <%== format_availability_dates(@user_information.availability).join('<br>') %>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label">Unvailability</label>
        <p class="well well-sm" name="user_information[Unvailability]">
          <%== format_availability_dates(@user_information.unavailability).join('<br>') %>
        </p>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 application-div">
      <h3>Choices</h3>
      <div class="form-group">
        <label class="control-label">#1</label>
        <p class="well well-sm" name="user_application[First Choice]">
          <%= @user_application.first_choice_volunteer_position.title %>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label">#2</label>
        <p class="well well-sm" name="user_application[Second Choice]">
          <%= @user_application.second_choice_volunteer_position.title %>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label">#3</label>
        <p class="well well-sm" name="user_application[Third Choice]">
          <%= @user_application.third_choice_volunteer_position.title %>
        </p>
      </div>
    </div>
    <% if current_user.is_admin? %>
      <div class="col-sm-4 col-sm-offset-1 application-div">
        <h5>Accept or Deny Application</h5>
        <p class="home-buttons">
          <%= link_to "Accept", "/user_applications/accept/#{@user_application.id}", method: :post, class: "btn btn-success" %>
          <%= link_to "Deny", "/user_applications/deny/#{@user_application.id}", method: :post, class: "btn btn-danger" %>
          <%= link_to "Reset to Pending", "/user_applications/reset/#{@user_application.id}", method: :post, class: "btn btn-primary" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
