<div class="container">
  <div class="row">
    <div class="alert alert-info" role="alert">
      The data presented on this page is extracted from your
      <u><%= link_to "information", @user_information, class: "alert-link" %></u>
      and
      <u><%= link_to "application", @user_application, class: "alert-link" %></u>
      forms.
      <% if DateTime.now < @time %>
      <i>Click on the links (bold and underlined text) to view or edit them.</i><br/>
      You have until
      <strong class="fa fa-clock-o"></strong>
      <u><%= @time.to_formatted_s(:long) %></u>
      to edit any submitted information before it's sent to a volunteer coordinator.
      <i style="font-size:15px!important">If you require any changes to be made after your application is locked, please contact a <u><a href="mailto:ottawajazzifycoordinator@gmail.com" class="alert-link">coordinator</a></u>.</i>
    <% else %>
      Your application has been sent to a volunteer coordinator. If you need to change something, please contact them
      <u><a href="mailto:ottawajazzifycoordinator@gmail.com" class="alert-link">here</a></u>.
      <% end %>
    </div>
    <p></p>
    <h1><%= "#{@user_information.first_name} #{@user_information.last_name}" %></h1>
    <div class="col-md-3">
      <div class="application-div">
        <h3>Contact details</h3>
        <div class="form-group">
          <label class="control-label">Home phone number</label>
          <p class="well well-sm" name="user_information[Home phone number]">
            <%= @user_information.home_phone_number %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">Work phone number</label>
          <p class="well well-sm" name="user_information[Work phone number]">
            <%= @user_information.work_phone_number %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">Cell phone number</label>
          <p class="well well-sm" name="user_information[Cell phone number]">
            <%= @user_information.cell_phone_number %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <p class="well well-sm" name="user[Email]">
            <%= @user_information.user.email %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">Address</label>
          <p class="well well-sm" name="user_information[Address]">
            <%= @user_information.address %><br/>
            <%= @user_information.city %>,
            <%= @user_information.province %>,
            <%= @user_information.postal_code %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="application-div">
        <h3>Festival related</h3>
        <div class="form-group">
          <label class="control-label">Availability</label>
          <p class="well well-sm" name="user_information[Availability]">
            <%= @user_information.availability %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">Notes</label>
          <p class="well well-sm" name="user_information[Notes]">
            <%= @user_information.notes %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">Age group</label>
          <p class="well well-sm" name="user_information[Age group]">
            <%= @user_information.age_group %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">T shirt size</label>
          <p class="well well-sm">
            <%= @user_information.t_shirt_size %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="application-div">
        <h3>Choices</h3>
        <div class="form-group">
          <label class="control-label">#1</label>
          <p class="well well-sm" name="user_application[First Choice]">
            <%= @user_application.first_choice_volunteer_position.name %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">#2</label>
          <p class="well well-sm" name="user_application[Second Choice]">
            <%= @user_application.second_choice_volunteer_position.name %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">#3</label>
          <p class="well well-sm" name="user_application[Third Choice]">
            <%= @user_application.third_choice_volunteer_position.name %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="application-div">
        <h3>Emergency contact</h3>
        <div class="form-group">
          <label class="control-label">Name</label>
          <p class="well well-sm">
            <%= @user_information.emergency_contact_name %>
          </p>
        </div>
        <div class="form-group">
          <label class="control-label">Phone Number</label>
          <p class="well well-sm">
            <%= @user_information.emergency_contact_number %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
