<h1><%= @volunteer_position.title %></h1>
<div class="panel-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <div class="well well-sm" name="volunteer_position[description]"><%= simple_format(@volunteer_position.description) %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Objective</label>
      <div class="col-sm-10">
        <div class="well well-sm" name="volunteer_position[objective]"><%= simple_format(@volunteer_position.objective) %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Duties & Responsabilities</label>
      <div class="col-sm-10">
        <div class="well well-sm" name="volunteer_position[duties]"><%= simple_format(@volunteer_position.duties) %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Qualifications & Requirements</label>
      <div class="col-sm-10">
        <div class="well well-sm" name="@volunteer_position[requirements]"><%= simple_format(@volunteer_position.requirements) %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Contact</label>
      <div class="col-sm-10">
        <div class="well well-sm" name="volunteer_position[contact]"><%= simple_format(@volunteer_position.contact) %></div>
      </div>
    </div>
  </form>
  <div class="" role="group" aria-label="...">
    <%= link_to volunteer_positions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to 'Apply',  new_user_application_path, :class => 'btn btn-default' %>
    <% if policy(@volunteer_position).edit? %>
    <%= link_to edit_volunteer_position_path(@volunteer_position), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %><% end %>
    <% if policy(@volunteer_position).destroy? %>
    <%= link_to 'Delete', @volunteer_position, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>
