<h1>Reports</h1>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Excel Reports</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>
            <%= link_to "Export all applications", reports_export_user_applications_path %>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#export_user_applications_for_position">
              Export applications for position
            </a>
          </li>
        </ul>
        <%= render 'export_applications', remote: true %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Charts</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>
            <%= link_to "Positition picks", reports_position_popularity_path %>
          </li>
          <li>
            <%= link_to "T shirt distribution", reports_t_shirt_distribution_path %>
          </li>
          <li>
            <%= link_to "User completion progress", reports_user_distribution_path %>
          </li>
          <li>
            <%= link_to "User sign up distribution", reports_user_sign_up_distribution_path %>
          </li>
          <li>
            <%= link_to "User last logged in", reports_user_last_sign_in_at_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">More</h3>
      </div>
      <div class="panel-body">
        <h5><small>Coming soon</small></h5>
      </div>
    </div>
  </div>
</div>
