<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jazzify</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/about">About <span class="sr-only"></span></a></li>
        <!-- <li><a href="/volunteer">Volunteer</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Volunteer<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Volunteer Positions", volunteer_positions_path %></li>
            <% if user_signed_in? %>
              <% if !current_user.user_information.nil? %>
                <li><%= link_to "My Information", user_information_path(current_user.user_information.id) %></li>
              <% else %>
                <li><%= link_to "My Information", new_user_information_path %></li>
              <% end %>
              <% if current_user.user_application.ids.count > 0 %>
                <li><%= link_to "My Application", user_application_path(current_user.user_application.ids.first) %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <% if user_signed_in? and current_user.is_elevated? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.role.name %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if current_user.is_admin? %>
              <li><%= link_to "Admin Panel", upmin_url %></li>
              <li class="divider"></li>
              <li><%= link_to 'Create Volunteer Position', new_volunteer_position_path %></li>
            <li class="divider"></li>
            <% end %>
            <li><%= link_to "User Informations", user_informations_path %></li>
            <li><%= link_to "User Applications", user_applications_path %></li>
            <div class="divider"></div>
            <li><%= link_to "Reports", reports_path %></li>
            <li><%= link_to "Permissions", permissions_path  %></li>
          </ul>
        </li>
        <% end %>
        <!-- <li><a href="mailto:sfloy029@uottawa.ca">Contact Us</a></li> -->
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Two Factor Authentication", two_factor_authentication_path %></li>
            <!-- <li class="divider"></li> -->
            <!-- <li><a href="profile/bill">My Bill</a></li> -->
          </ul>
        </li>
      </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %></li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
