<style type="text/css">
  .form-group_for_radio_buttons{margin-bottom: 0px;}
</style>

<%= form_for(@user_information, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
<% if @user_information.errors.any? %>
<div class="alert alert-danger alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4>Please fix the following <%= pluralize(@user_information.errors.count, "error") %>:</h4>

  <ul>
    <% @user_information.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group hidden">
  <%= f.label :user_id, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :user_id, :class => "form-control"%>
  </div>
</div>

<div class="form-group">
  <%= f.label :first_name, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :last_name, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :address, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :address, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :city, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :city, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :province, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :province, ['Ontario','Quebec','Nova Scotia','New Brunswick','Manitoba', 'British Columbia','Price Edward Island','Saskatchewan','Alberta','Newfoundland and Labrador', 'Northwest Territories','Nunavut','Yukon'], {}, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :postal_code, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :postal_code, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :home_phone_number, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :home_phone_number, :class => "form-control",
    :'data-toggle' => 'popover', :'data-trigger' => 'focus',
    :title => 'Optional requirement', :'data-content' => "You must enter at least one of the 3 telephone fields.", :'data-placement' => "top" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :work_phone_number, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :work_phone_number, :class => "form-control",
    :'data-toggle' => 'popover', :'data-trigger' => 'focus',
    :title => 'Optional requirement', :'data-content' => "You must enter at least one of the 3 telephone fields.", :'data-placement' => "top" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :cell_phone_number, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :cell_phone_number, :class => "form-control",
    :'data-toggle' => 'popover', :'data-trigger' => 'focus',
    :title => 'Optional requirement', :'data-content' => "You must enter at least one of the 3 telephone fields.", :'data-placement' => "top" %>
  </div>
</div>
<div class="form-group form-group_for_radio_buttons">
  <%= f.label :t_shirt_size, :class => "col-sm-2 control-label", :id => 't_shirt_size' %>
  <div class="col-sm-10">
    <label class="radio-inline">
      <%= f.radio_button :t_shirt_size, 'Small' %>
      Small
    </label>
    <label class="radio-inline">
      <%= f.radio_button :t_shirt_size, 'Medium' %>
      Medium
    </label>
    <label class="radio-inline">
      <%= f.radio_button :t_shirt_size, 'Large' %>
      Large
    </label>
    <label class="radio-inline">
      <%= f.radio_button :t_shirt_size, 'XL' %>
      XL
    </label>
    <label class="radio-inline">
      <%= f.radio_button :t_shirt_size, 'XXL' %>
      XXL
    </label>
    <label class="radio-inline">
      <%= f.radio_button :t_shirt_size, 'XXXL' %>
      XXXL
    </label>
  </div>
  <div class="col-sm-2"></div>
  <span class="help-block col-sm-10">Please note that these are men's sizes.</span>
</div>

<div class="form-group form-group_for_radio_buttons">
<%= f.label :age_group, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <label class="radio-inline">
      <%= f.radio_button :age_group, 'Under 16' %>
      Under 16
    </label>
    <label class="radio-inline">
      <%= f.radio_button :age_group, '16 - 24' %>
      16 - 24
    </label>
    <label class="radio-inline">
      <%= f.radio_button :age_group, '25 - 55' %>
      25 - 55
    </label>
    <label class="radio-inline">
      <%= f.radio_button :age_group, '55+' %>
      55+
    </label>
  </div>
  <div class="col-sm-2"></div>
  <span class="help-block col-sm-10">We ask as some positions have a minimum age requirement.</span>
</div>

<div class="form-group">
  <%= f.label :emergency_contact_name, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :emergency_contact_name, :class => "form-control",
    :'data-toggle' => 'popover', :'data-trigger' => 'focus',
    :'data-content'=>"Let's hope we never need to call them.", :'data-placement' => "top" %>

  </div>
</div>
<div class="form-group">
  <%= f.label :emergency_contact_number, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :emergency_contact_number, :class => "form-control",
    :'data-toggle' => 'popover', :'data-trigger' => 'focus',
    :'data-content'=>"Just in case, we need their number.", :'data-placement' => "top" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :notes, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :notes, :class => "form-control",
    :'data-toggle' => 'popover', :'data-trigger' => 'focus',
    :'data-content'=>"Please note (comma seperated) any skill that you have that is relevant.<br/>For example: SmartServe certification", :'data-placement' => "top" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :availability, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :availability, :class => "form-control availability",
    :'data-toggle' => 'popover', :'data-trigger' => 'focus',
    :'data-content'=>"Please let us know what your availability is, i.e. Available weekdays after 5pm, no weekends, unavailable June 27. <strong>*</strong>", :'data-placement' => "top" %>
  </div>
  <div class="col-sm-2"></div>
  <span class="col-sm-10 text-danger">*You are required to work a mininum of 4 shifts. </span>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <%= f.check_box :code_of_conduct %>
        I accept the <%= link_to "Volunteer Code of Conduct", codeofconduct_url, target: "_BLANK" %>
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
</div>
<% end %>
