<h1>User Information forms</h1>

<% if @user_informations.nil? or @user_informations.length == 0 %>

  <h3>No one has filled out an info form. <i class="fa fa-frown-o">&nbsp;</i></h3>

<% else %>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Last Updated</th>
            <th></th>
            <% if current_user.is_admin? %>
            <th></th>
            <th></th>
            <% end %>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @user_informations) do |user_information| %>
            <td><%= user_information.first_name %></td>
            <td><%= user_information.last_name %></td>
            <td><%= user_information.updated_at.to_formatted_s(:long) %></td>
            <td><%= link_to 'View', user_information %></td>
            <% if current_user.is_admin? %>
            <td><%= link_to "Edit", edit_user_information_path(user_information) %></td>
            <td><%= link_to 'Delete', user_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @user_applications, renderer: BootstrapPagination::Rails %>
<% end %>
